<%- include('partials/header', { username }) %>
<div class="container">
  <div class="row mb-4 g-4 justify-content-center">
    <div class="col-lg-9 d-grid">
      <a class="btn btn-primary">Create Post</a>
    </div>
    <% data.forEach(story => { %>
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body p-4 text-justify">
            <h6 class="card-subtitle my-2 text-muted">
              Created by: <b><%= story.User.username %></b>
            </h6>
            <h5 class="card-title"><%= story.title %></h5>
            <p class="card-text"><%= story.content %></p>
            <div class="d-md-flex justify-content-md-end">
              <% console.log(story) %>
              <a class="btn btn-primary" href="/stories/<%= story.id %>">
                Show Comments (<%= story.dataValues.commentsCounter %>)
              </a>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<%- include('partials/footer') %>