<%- include('../partials/header', { username }) %>
<div class="container">
  <h1>Profile of <b><%= username %></b></h1>
</div>

<!-- Form -->
<div class="container my-3">
  <div class="card">
    <h2 class="card-header">Edit Profile</h2>
    <div class="card-body">
      <form action="#" method="post">
        <div class="row">
          <div class="mb-3 col">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" value="<%= user.username %>">
          </div>
          <div class="mb-3 col">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" value="<%= user.email %>">
          </div>
        </div>
    
        <div class="row justify-content-end mb-3">
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="col-auto">
            <a class="btn btn-outline-danger" href="/user">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container my-4">
  <div class="col-12 d-grid">
    <a class="btn btn-primary" href="/stories/create">Create Post</a>
  </div>
</div>

<!-- Stories -->
<div class="container">
  <div class="p-3 mb-2 bg-dark text-white">
    <h2>Your Stories</h2>
  </div>
  <div class="row mb-4 gy-4 justify-content-center">
    <% stories.forEach(story => { %>
      <div class="col-12">
        <div class="card">
          <div class="card-body p-4 text-justify">
            <h5 class="card-title"><%= story.title %></h5>
            <p class="card-text"><%= story.content %></p>
            <div class="d-md-flex justify-content-md-end">
              <a class="btn btn-danger me-2" href="/stories/<%= story.id %>/delete-story">Delete Story</a>
              <a class="btn btn-primary" href="/stories/<%= story.id %>">Show Comments</a>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<!-- Comments -->
<div class="container">
  <div class="p-3 mb-2 bg-primary text-white">
    <h2>Your Comments</h2>
  </div>
  <div class="row mb-4 g-4 justify-content-center">
    <% comments.forEach(comment => { %>
      <div class="col-12">
        <div class="card my-2">
          <div class="card-body p-4 text-justify">
            <h5 class="card-title"><%= comment.Story.title %></h5>
            <p class="card-text"><%= comment.Story.content %></p>
          </div>
          <div class="card-footer p-4 text-justify">
            <b><%=user.username%> commented:</b> <%= comment.content %>
            <div class="d-md-flex justify-content-md-end my-2">
              <a class="btn btn-danger me-2" href="/stories/<%= comment.id %>/delete-comment">Delete Comment</a>
              <a class="btn btn-dark" href="/stories/<%= comment.Story.id %>">Show Story</a>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer') %>